<!-- src/app/finish/finish.component.html -->
<div class="finish-container">
  <h2>Quiz Finished!</h2>

  <div class="finish-card">
    <div class="finish-stats">
      <!-- Спочатку Score -->
      <p class="finish-stat">
        Score: 
        <span 
          class="score-value" 
          [ngClass]="{
            'negative-score': score < 0,
            'positive-score': score >= 0
          }" 
          [ngStyle]="getScoreStyle()">
          {{ score }}
        </span>
      </p>
      
      
            <!-- Далі Time Taken -->
      <p class="finish-stat">Time Taken: <strong>{{ timeTaken }}</strong></p>
      <!-- Інші показники -->
      <p class="finish-stat">Correct Answers: <strong>{{ correctAnswers }}</strong></p>
      <p class="finish-stat">Total Questions: <strong>{{ totalQuestions }}</strong></p>
    </div>
    
    <!-- Кнопки -->
    <div class="button-group">
      <button class="btn-restart" (click)="restartQuiz()">retry</button>
      <div class="ml-auto">
        <button class="btn-menu" (click)="goToMenu()">setup</button>
      </div>
    </div>
  </div>
</div>
