<!-- src/app/quiz/quiz.component.html -->
<div class="quiz-container" *ngIf="currentQuestion">
  <div class="timer" *ngIf="timer">{{ timer | date:'mm:ss' }}</div> <!-- Timer here -->

  <mat-card class="quiz-card">
    <!-- Question number display -->
    <div class="question-info">
      <span>{{ getCurrentQuestionIndex() + 1 }} / {{ getTotalQuestions() }}</span>
    </div>
    
    <h2 class="question-text" [innerHTML]="currentQuestion.question"></h2>
    
    <div *ngIf="!isQuizComplete()" class="answers-container">
      <div class="answers-grid">
        <div *ngFor="let answer of answers" class="answer-item">
          <button (click)="selectAnswer(answer)" class="answer-button">
            {{ answer }}
          </button>
        </div>
      </div>
    </div>
    
    <div class="quiz-footer">
      <!-- <p class="score-text">Your Score: {{ score() }}</p> -->
      <button class="return-button" mat-stroked-button (click)="cancelQuiz()">Quit</button>
    </div>
  </mat-card>
</div>
