.quiz-container {
  @apply flex items-center justify-center h-screen p-4 relative bg-gradient-to-r from-blue-500 to-yellow-500;
  background-size: 200% 200%;
  animation: waveGradient 10s ease infinite;
}

.quiz-card {
  @apply w-full max-w-4xl rounded-lg shadow-lg p-8 flex flex-col items-center relative bg-white bg-opacity-50;
}

.question-info, .question-text, .answers-container, .answers-grid, .answer-item {
  @apply flex justify-center items-center;
}

.question-text {
  @apply text-6xl font-bold text-center mb-6 text-gray-800;
  font-family: 'Lobster', cursive;
  position: relative;
  overflow: hidden;
}

.question-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.1);
  font-size: 10rem;
  text-align: center;
  line-height: 1;
  filter: blur(10px);
  z-index: 0;
}

.answers-grid {
  @apply grid grid-cols-1 gap-4 md:grid-cols-2 w-full;
}

.answer-button {
  @apply w-full h-24 md:h-32 lg:h-40 text-2xl font-semibold text-white bg-blue-600 hover:bg-blue-700 rounded-lg flex justify-center items-center transition-colors duration-300;
  background-color: hsla(208, 79%, 51%, 0.5);
}

.quiz-footer {
  @apply flex justify-end items-end w-full pt-4;
}

.return-button {
  @apply text-white bg-red-500 hover:bg-red-600 px-3 py-1 text-sm rounded-lg absolute bottom-4 right-4 transition-colors duration-300;
}

.timer {
  @apply absolute top-8 right-8 text-6xl font-bold text-white opacity-70 z-10;
}

@keyframes waveGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
