<div class="home-container">
  <mat-card class="form-container p-5 max-w-lg w-full bg-white rounded-lg shadow-lg">
    <h2 class="text-center text-3xl font-bold mb-6">QUIZ<span class="highlight">setup</span></h2>

    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" name="category">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Number of Questions (max50)</mat-label>
        <input matInput formControlName="amount" type="number" />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty">
          <mat-option value="easy">Easy</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="hard">Hard</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="multiple">Multiple Choice</mat-option>
          <mat-option value="boolean">True/False</mat-option>
          <mat-option value="">Any Type</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- <mat-form-field appearance="fill" class="w-full">
        <mat-label>Encoding</mat-label>
        <mat-select formControlName="encoding">
          <mat-option value="urlLegacy">Legacy URL Encoding</mat-option>
          <mat-option value="url3986">ERL Encoding (RFC 3986)</mat-option>
          <mat-option value="base64">Base64 Encoding</mat-option>
        </mat-select>
      </mat-form-field> -->

      <div class="flex justify-between mt-6">
        <button mat-raised-button color="primary" type="submit" class="w-full mr-2">Submit</button>
        <button mat-flat-button color="accent" (click)="randomQuiz()" class="w-full ml-2">Random</button>
      </div>
    </form>
  </mat-card>
</div>
